<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Photon SoftAP WiFi config</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngPhoton -->
    <!-- <script src="lib/ngPhoton/ngPhoton.min.js"></script> -->
    <script src="lib/ngPhoton/softap-browser.js"></script>
    <script src="lib/ngPhoton/ngPhoton.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Photon WiFi config utility</h1>
      </ion-header-bar>
      
      <ion-content class="padding">
        <button class="button button-block" ng-click="info()">Get Device Info</button>
        <div class="card" ng-if="gotInfo">
          <div class="item item-divider">
            Device Info
          </div>
          <div class="item item-text-wrap">
            <pre>{{infoData}}</pre>
          </div>
        </div>
        <button class="button button-block" ng-click="scan()" ng-if="gotInfo">Scan for wireless networks</button>
        <div class="list list-inset">
          <div ng-repeat="ap in accessPoints" class="item item-icon-right" ng-click="selectAP(ap)" ng-class="{'item-dark': ap.ssid === selectedAP.ssid}">
            <i class="icon ion-locked" ng-if="ap.sec"></i>
            {{ap.ssid}} ({{ap.signalStrength}}%)
          </div>
        </div>
        <button class="button button-block" ng-click="connect(selectedAP)" ng-if="accessPoints">Connect</button>
        <div class="card">
          <div class="item item-divider">
            How to use
          </div>
          <div class="item item-text-wrap">
            <p>To configure your Particle Photon:</p>
            <h2>Step 1</h2>
            <p>Put your Photon in Listening mode. This can be done by holding the SETUP button for 3 seconds/until the status LED starts flashing dark blue.</p>
            <h2>Step 2</h2>
            <p>Your photon will now be broadcasting an open wireless network called something like <code>Photon-RF12</code>. Connect the device you are viewing this page on to that network. (note that you will probably lose your internet connection temporarily by doing this)</p>
            <h2>Step 3</h2>
            <p>Once connected, click the 'Get Device Info' button. This will attempt to try and load information from your Photon.</p>
            <h2>Step 4</h2>
            <p>Next click the 'Scan for wireless networks' button to load a list of nearby WiFi networks from the Photon.</p>
            <h2>Step 5</h2>
            <p>Tap/click the network you wish to connect your Photon to (and enter its password if necessary)</p>
            <h2>Step 6</h2>
            <p>Once you've got the network you want to connect to selected, finally click the 'Connect' button at the bottom of the page to configure the Photon to connect to that network.</p>
            <p>If successful, your device should automatically join restart and try to connect with the specified WiFi details.</p>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
